* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ================= NAVBAR ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  background: #faab0c;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.navbar h1 {
  color: #5a3825;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #3b2f2f;
  font-weight: 500;
}

.navbar a:hover {
  color: #c07a44;
}

