* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* ================= NAVBAR ================= */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
  background: #faab0c;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.navbar h1 {
  color: #5a3825;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar a {
  text-decoration: none;
  color: #3b2f2f;
  font-weight: 500;
}

.navbar a:hover {
  color: #c07a44;
}
/*  HERO */

.hero {
  width: 100vw;                    
  margin-left: calc(-50vw + 50%);  
  position: relative;
  overflow: hidden;
  margin-top: 0;                   
  margin-bottom: 0;
  padding: 0;
}


.hero-image {
  width: 100%;
  height: auto;                    
  display: block;
  object-fit: cover;               
}

.hero {
  height: 90vh;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
  text-align: center;       /* text center */
  background-image: url("your-image.jpg");
  background-size: cover;
  background-position: center;
  padding: 0%;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 15px; /* reduces gap */
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.btn {
  background: #6b3f1d;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
}

.btn.outline {
  background: transparent;
  border: 2px solid #6b3f1d;
  color: #6b3f1d;
}
section {
  padding: 60px 8%;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

/* ================= FEATURES ================= */
.features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.feature {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* ================= ABOUT ================= */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.about img {
  width: 100%;
  border-radius: 12px;
}


